/calm/nbproject/private/
/soplon.BAL/build/
/soplon.UT/build/
/soplon.BAL/nbproject/private/
/soplon/nbproject/private/
/soplon.DAL/nbproject/private/
/soplon.UT/nbproject/private/
/soplon.BAL/dist/
/soplon.DAL/build/
/soplon.DAL/dist/
/soplon/build/
/soplon.DAL/target/
/soplon/target/
/WebSoplon/nbproject/private/
/**/*/.idea
/**/node_modules
/soplon-app/www/